body{
padding: 50px;
}


.vertspace{
height: 1vh;
}
.Vertspace{
height: 5vh;
}
.BigVertspace{
height: 10vh;
}
.BigBigVertspace{
height: 50vh;
}

.workbox{
  width: 96.15%;
  margin: 1rem;
  padding: 5px;
/*  border: solid 1px;*/
  height: auto;
}
.halfworkbox{
  width: 46.171%;
  margin: 1rem;
  padding: 5px;
/*  border: solid 1px;*/
  height: auto;
}
.bl{ 
  display: inline-block;
  width: 2em;
  border-bottom: 1px solid black;
}
/* Math version: one underline, no mtext */
mspace.bl_m { display:inline-block; border-bottom:1px solid; }

/* Text version */
.bl_t { display:inline-block; border-bottom:1px solid; }

